<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_notifications_high</key>
	<string></string>
	<key>Battery_notifications_low</key>
	<string>low</string>
	<key>Battery_position</key>
	<integer>6</integer>
	<key>Battery_state</key>
	<false/>
	<key>Bluetooth_position</key>
	<integer>7</integer>
	<key>CPU_position</key>
	<integer>0</integer>
	<key>CPU_state</key>
	<false/>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<true/>
	<key>CombinedModules_separator</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>Disk_position</key>
	<integer>3</integer>
	<key>Disk_state</key>
	<false/>
	<key>GPU_position</key>
	<integer>1</integer>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va+ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAuAEA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGFuZHJlc2h1bmcAAAkA
	AAABAQAARG9jdW1lbnRzAAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAADVDAAAA
	AAAACAAAAAQDAACqaAAAAAAAAAgAAAAEAwAA32gAAAAAAAAMAAAAAQYAAFwAAABsAAAA
	fAAAAAgAAAAABAAAQcbjmoUAAAAYAAAAAQIAAAIAAAAAAAAAHwIAAAAAAAAfAgAAAAAA
	AAAAAAABBQAACAAAAAQDAAABAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAkAAAAAQEAAEUyNTVD
	NTQ3LUEwMDEtNDI3Qy04QTFGLTFBRkE0M0E3MkQ5MBgAAAABAgAAgQAAAAEAAADvEwAA
	AQAAAO8TAAABAAAAAQAAAAEBAAAvAAAAMAAAAAECAABkbmliAAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAABzY29kAgAAAAAAAADwAAAA/v///wEAAAAAAAAAEwAAAAQQ
	AABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAAB0
	AQAAAAAAAAUgAAD0AAAAAAAAABAgAAAEAQAAAAAAABEgAAAoAQAAAAAAABIgAAAYAQAA
	AAAAABMgAACgAAAAAAAAACAgAABUAQAAAAAAADAgAADQAAAAAAAAAAHAAADYAAAAAAAA
	ABHAAAAgAAAAAAAAABLAAADoAAAAAAAAAAHQAADQAAAAAAAAABDQAAAEAAAAAAAAABfw
	AAA0AAAAAAAAACLwAACAAQAAAAAAAA==
	</data>
	<key>NSStatusItem Preferred Position CombinedModules</key>
	<real>632</real>
	<key>NSStatusItem Restore Position Battery_battery</key>
	<integer>554</integer>
	<key>NSStatusItem Restore Position CPU_mini</key>
	<integer>761</integer>
	<key>NSStatusItem Restore Position Disk_mini</key>
	<integer>667</integer>
	<key>NSStatusItem Restore Position Network_speed</key>
	<integer>475</integer>
	<key>NSStatusItem Restore Position Network_text</key>
	<integer>475</integer>
	<key>NSStatusItem Restore Position RAM_mini</key>
	<integer>714</integer>
	<key>NSStatusItem Restore Position Sensors_mini</key>
	<integer>428</integer>
	<key>NSStatusItem Restore Position Sensors_sensors</key>
	<integer>428</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>320 320 800 448 0 0 1440 875 </string>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>360 240 728 480 0 0 1440 870 </string>
	<key>Network_label_position</key>
	<integer>1</integer>
	<key>Network_networkChart_position</key>
	<integer>3</integer>
	<key>Network_position</key>
	<integer>4</integer>
	<key>Network_speed_downloadColor</key>
	<string>secondGreen</string>
	<key>Network_speed_icon</key>
	<string>dots</string>
	<key>Network_speed_iconAlignment</key>
	<string>left</string>
	<key>Network_speed_iconColor</key>
	<string>default</string>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_speed_uploadColor</key>
	<string>pink</string>
	<key>Network_state_position</key>
	<integer>4</integer>
	<key>Network_text_position</key>
	<integer>2</integer>
	<key>Network_widget</key>
	<string>speed</string>
	<key>RAM_position</key>
	<integer>2</integer>
	<key>RAM_state</key>
	<false/>
	<key>Sensor_mini_alignment</key>
	<string>right</string>
	<key>Sensor_mini_color</key>
	<string>monochrome</string>
	<key>Sensor_mini_label</key>
	<true/>
	<key>Sensors_barChart_position</key>
	<integer>2</integer>
	<key>Sensors_hid</key>
	<false/>
	<key>Sensors_label_position</key>
	<integer>3</integer>
	<key>Sensors_mini_position</key>
	<integer>0</integer>
	<key>Sensors_position</key>
	<integer>5</integer>
	<key>Sensors_sensor</key>
	<string>TB1T</string>
	<key>Sensors_stack_position</key>
	<integer>1</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_unknown</key>
	<false/>
	<key>Sensors_widget</key>
	<string>mini</string>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_PPBR</key>
	<false/>
	<key>sensor_TB1T</key>
	<true/>
	<key>sensor_TB2T</key>
	<true/>
	<key>sensor_TH0x</key>
	<true/>
	<key>sensor_TW0P</key>
	<true/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1777834584</integer>
	<key>telemetry</key>
	<false/>
	<key>temperature_units</key>
	<string>celsius</string>
	<key>updater_check_ts</key>
	<integer>1779754795</integer>
	<key>updater_install_ts</key>
	<integer>1779754801</integer>
	<key>version</key>
	<string>2.12.15</string>
</dict>
</plist>
